<h1>Welcome page</h1>

<p> Click on <%= link_to 'Employees List', employees_path %> to View List of Employees</p>
<p>Click on <%= link_to 'Team Lead List', leads_path %> to view the list of Team Leads</p>
